/DATA/age
/DATA/gender
/DATA/language
/DATA/mbti
/DATA/political
/DATA/__pycache__
/DATA/__backup__
/MODELS/__pycache__
/MODELS/gender/tokenized*
/MODELS/age/tokenized*
/MODELS/language/tokenized*
/MODELS/mbti/tokenized*
/MODELS/political/tokenized*